MyTravelHistory/MyTravelHistory/SampleData/LocationSampleDataSource/LocationSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.LocationSampleDataSource" targetNamespace="Expression.Blend.SampleData.LocationSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocationSampleDataSource" type="tns:LocationSampleDataSource" />
  <xs:complexType name="LocationSampleDataSource">
    <xs:sequence>
      <xs:element name="AllLocations" type="tns:AllLocations" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllLocations">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AllLocationsItem" type="tns:AllLocationsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllLocationsItem">
    <xs:sequence>
      <xs:element name="Address" type="tns:Address" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:Format="Address" name="Latitude" type="xs:string" />
    <xs:attribute name="Longtitude" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AddressItem" type="tns:AddressItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressItem">
    <xs:attribute blend:Format="Address" name="Street" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="HouseNumber" type="xs:double" />
    <xs:attribute blend:FormatParameters="4" name="PostalCode" type="xs:double" />
    <xs:attribute blend:Format="Company Name" name="City" type="xs:string" />
    <xs:attribute blend:FormatParameters="2,8" name="District" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="State" type="xs:string" />
  </xs:complexType>
</xs:schema>